.container-fluid {
    background-color: #D3D3D3;
}

#mssv, #headingTitle, #keyAPI {
    margin-top: auto;
    margin-bottom: auto;
}
#mssv {
    text-align: left;
    font-size: 16px;
}
#headingTitle {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
#keyAPI {
    justify-content: flex-end;
    font-size: 16px;
}

.alert {
    background-color: white;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}



#searchForm {
    display: flex;
    margin-right: 10px;
    margin-left: auto;
}

#inputSearch, #buttonSearch {
    margin: 5px;
}

#newestSlide > .carousel-inner > .carousel-item > img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    min-width: 500px;
    min-height: 500px;
    max-width: 700px;
    max-height: 700px;
  }

#popularSlide >  .carousel-inner > .carousel-item > .row > .col-4 > img {
    width: 500px !important;
    height: 400px !important;
}

.carousel{
    margin-top: 20px;
    margin-bottom: 20px;
}