.container-fluid {
    /*background-color: #D3D3D3;*/
    background-color: #A6A6A6;
}

#mssv, #headingTitle, #keyAPI {
    margin-top: auto;
    margin-bottom: auto;
}
#mssv {
    text-align: left;
    font-size: 16px;
}
#headingTitle {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
#keyAPI {
    justify-content: flex-end;
    font-size: 16px;
}

.alert-dark {
    background-color: #070D0D !important;
    color: white !important;
}



#searchForm {
    display: flex;
    margin-right: 10px;
    margin-left: auto;
}

#inputSearch, #buttonSearch {
    margin: 5px;
}

#newestSlide > .carousel-inner > .carousel-item > img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    min-width: 500px;
    min-height: 500px;
    max-width: 700px;
    max-height: 700px;
  }

img {
    width: 500px;
    height: 400px;
    transition: transform .2s, visibility .2s;;
    overflow: visible !important;
    
}

.carousel{
    margin-top: 20px;
    margin-bottom: 20px;
}

#popularSlide .carousel-indicators {
    top: 10px;
    justify-content:flex-end;
    margin:0;
    padding-left:15px;
    padding-right:15px;
    top: -50px;
  }
  #topRatingSlide .carousel-indicators {
    top: 10px;
    justify-content:flex-end;
    margin:0;
    padding-left:15px;
    padding-right:15px;
    top: -50px;
  }

  #popularSlide .carousel-inner {
    margin-top:50px;
 }
 #topRatingSlide .carousel-inner {
    margin-top:50px;
 }


  
  .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  
  .carousel-indicators li:not(:last-child) {
    margin-right: 20px;
  }

  #popularSlide .carousel-control-prev {
    justify-content: flex-start;
  }
  #popularSlide .carousel-control-next {
    justify-content: flex-end;
  }

  #topRatingSlide .carousel-control-prev {
    justify-content: flex-start;
  }
  #topRatingSlide .carousel-control-next {
    justify-content: flex-end;
  }
 
template .container {
    margin-left: auto !important;
    margin-right: auto !important;
}

.loadercontainer {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
  }
  
  .loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
  }
  .loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
  }
  .loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
  }
  .loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
  }
  .loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
  }
  .loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
  }
  .loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
  }
  .loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
  }
  .loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(230px);
    }
    65% {
      transform: translateX(230px);
    }
    95% {
      transform: translateX(0);
    }
  }
  @keyframes loading-text {
    0% {
      content: "Loading";
    }
    25% {
      content: "Loading.";
    }
    50% {
      content: "Loading..";
    }
    75% {
      content: "Loading...";
    }
  }


  img:hover {
    transform: scale(1.5);
  }